:root {
  --color-primary: #ccdffe;
  --color-secondary: #054ece;
  --color-tertiary: #ffb53e;
  --color-quaternary: #0b652f;
  --color-quinary: #4f18a8;
}

@font-face {
  font-family: "Avenir Next Condensed";
  src: url("../fonts/AvenirNextCondensed-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Avenir Next Condensed", sans-serif;
  height: 100%;
  background: #0b652f; /* Old browsers */
  background: linear-gradient(
    135deg,
    #0b652f 0%,
    #06c2cc 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

body {
  font-size: 1.8rem;
  background: #0b652f; /* Old browsers */
  background: linear-gradient(
    135deg,
    #0b652f 0%,
    #06c2cc 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding: 2vh;
}

.container {
  position: relative;
  max-width: 370px;
  margin: 0 auto;
  background: var(--color-secondary);
  border: 1rem solid #292828;
  border-radius: 2.5rem;
  box-shadow: 0 0 0 0.5rem var(--color-primary);
  overflow: hidden;
}

.smart-header {
  height: 8vh;
  min-height: 7rem;
  background: black;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.smart-header__cam {
  width: 1rem;
  height: 1rem;
  background: radial-gradient(
    circle,
    rgba(34, 34, 34, 1) 0%,
    rgb(31, 29, 29) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 0.5rem;
  box-shadow: 0 0 0 0.5rem rgb(12, 38, 71);
}

.smart-header__sound {
  width: 6rem;
  height: 0.8rem;
  border-radius: 0.4rem;
  background: linear-gradient(
    0deg,
    rgba(34, 34, 34, 1) 0%,
    rgb(31, 29, 29) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  margin: 1.6rem 0 0 0;
}

.scrollable {
  overflow-y: auto;
  max-height: 70vh;
  scrollbar-width: thin;
  scrollbar-color: light dark;
}

.scrollable::-webkit-scrollbar {
  width: 5px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: var(--color-tertiary);
  border-radius: 5px;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
}

.header {
  width: 100%;
  background: var(--color-secondary);
}

h1 {
  position: absolute;
  color: transparent;
  font-size: 1rem;
}

.content {
  color: var(--color-primary);
  padding: 1.6rem;
  padding-bottom: 0;
}

.panel {
  display: flex;
  justify-content: space-evenly;
}
.panel a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: hsla(0, 100%, 100%, 0.1);
  color: var(--color-primary);
  padding: 1.6rem;
  border-radius: 1rem;
  border: 0.3rem solid var(--color-primary);
  margin-bottom: 2rem;
  box-shadow: 0 0.5rem 1rem 0.1rem hsla(0, 0%, 0%, 0.5);
  text-decoration: none;
}

.panel a span {
  position: absolute;
  color: transparent;
}

.panel p {
  margin: 0;
  margin-top: 1.6rem;
  font-size: 1.3rem;
}

section {
  padding: 1.6rem;
  padding-bottom: 3.2rem;
  margin: -1.6rem;
}

section:nth-child(1),
section:nth-child(4) {
  background: var(--color-secondary);
}

section:nth-child(2),
section:nth-child(5) {
  background: var(--color-tertiary);
  color: var(--color-secondary);
}

section:nth-child(3),
section:nth-child(6) {
  background: var(--color-quinary);
}

h2,
h3,
p,
ul {
  margin: 2rem 0;
}

ol {
  margin-left: 3rem;
}

p,
ol {
  margin: 2rem 0;
}
li {
  margin-left: 1.6rem;
}

.smart-footer {
  height: 8vh;
  min-height: 7rem;
  background: black;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smart-footer__button {
  width: 5rem;
  height: 5rem;
  background: radial-gradient(
    circle,
    rgba(34, 34, 34, 1) 0%,
    rgb(31, 29, 29) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 2.5rem;
}

:-webkit-full-screen {
  background-color: yellow;
}

/* Firefox syntax */
:-moz-full-screen {
  background-color: yellow;
}

/* IE/Edge syntax */
:-ms-fullscreen {
  background-color: yellow;
}

/* Standard syntax */
:fullscreen {
  background-color: yellow;
}
